<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/logout">logout</a></li>
        <li><a href="/users/7">some user</a></li>
    </ul>
</nav>
    <h1>Made it past security, welcome [[${username}]]</h1>

<h2> make new users here</h2>
    <form action="/signup" method="POST">
        name <input type="username" name="username">
        pass <input type="password" name="password">
        <input type="submit">
    </form>
</body>
</html>